@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .scrollbar-thin {
      scrollbar-width: thin;
    }
  
    .scrollbar-thumb-gray-500 {
        scrollbar-color: black black;

        &:hover{
            scrollbar-color: #6b7280 black;
        }
    }
    .scrollbar-track-gray-100 {
      background-color: black;
    }
  }